
.DS_Store
.ipynb_checkpoints/
arbitrum-oracle-txs/
arbitrum-txs/
optimism-oracle-txs/
optimism-txs/
config.py
config.ini
*.ini
labels/etherscan-export.xlsx
folder_ignore/
Covalent API Testing.ipynb
L2 TVL/img_outputs/png/net_app_flows.png
L2 TVL/img_outputs/svg/net_app_flows.svg
*.html
L2 TVL/Oracles/Get Oracle Data.ipynb
L2 TVL/velo_app_net_flows.ipynb
L2 TVL/ignore/
