
.DS_Store
.ipynb_checkpoints/
arbitrum-oracle-txs/
arbitrum-txs/
optimism-oracle-txs/
optimism-txs/
config.py
config.ini
*.ini
labels/etherscan-export.xlsx
folder_ignore/
Covalent API Testing.ipynb
L2 TVL/Oracles/Get Oracle Data.ipynb
L2 TVL/velo_app_net_flows.ipynb
L2 TVL/ignore/
dune_exports/dune.env
*.env
dune_exports/
